@import database.models.Customer
@import play.api.libs.json.JsString
@(customerId: Option[String], customer: Option[Customer])(implicit req: framework.Request[_])

@main(s"Customer: ${customer.flatMap(_.name).orElse(customer.flatMap(_.email)).orElse(customerId).getOrElse("No name")}") {
  <script src='@routes.AssetsController.versioned("svelte/dashboard/customerView/otherContractualLiabilities.js")'></script>
  <link rel="stylesheet" href='@routes.AssetsController.versioned("svelte/dashboard/customerView/otherContractualLiabilities.css")'>
  <div id="app"></div>

  <script>
    new OtherContractualLiabilities.default({
      target: document.getElementById('app'),
      props: {
        customerId: @Html(encodeJson(customerId.map(JsString.apply))),
        customer: @Html(encode(customer))
      }
    });
  </script>
}
